* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #b7b0b0;
  outline: none;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #f4e648;
  padding: 15px;
  border-radius: 20px;
  box-shadow: inset 5px 5px 12px rgb(235, 231, 231),
    5px 5px 12px rgb(black, green, blue);
  display: grid;
  grid-template-columns: repeat(4, 68px);

}

input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #3b3b3b;
  box-shadow: inset -5px -5px 12px whitesmoke,
    inset 5px 5px 12px rgb(black, green, blue);
  border: none;
  border-radius: 10px;
  color: rgb(253, 250, 250);
  font-size: 50px;
  text-align: end;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;

}

button {
  height: 48px;
  width: 48px;
  background-color: rgb(33, 32, 32);
  color: white;
  box-shadow: -5px -5px 12px rgb(232, 246, 71),
    5px 5px 12px rgb(232, 248, 63);
  border: none;
  border-radius: 20px;
  margin: 8px;
}

.equal {
  width: 115px;
  border-radius: 15px;
}

.cal {
  margin-left: 24px;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  background: #ebde51;
  width: 150px;

}